.widget {
    min-width: 450px;
    background-color: #ffffff81;
    border-radius: 32px;
    backdrop-filter: blur(8px);
}

.widget__container {
    padding: 25px 60px;
}

.widget__container-top {
    display: flex;
    justify-content: space-between;
}

.widget__text-city {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding: 10px 0;
}

.widget__text-degrees {
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    padding: 10px 0;
}

.widget__text-country {
    line-height: 24px;
    padding: 10px 0;
}

.widget__text-weather {
    color: #989898;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.widget__text-parameter {
    font-weight: 400;
    line-height: 24px;
    padding: 10px 0;
}

.widget__text-value {
    font-weight: 400;
    line-height: 24px;
    padding: 10px 0;
}